<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="UTF-8">
<meta charset="UTF-8">
<head>
<style>
    .custom-file-upload {
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
        background-color: #0d6efd;
        color: #0d6efd;
        border-radius: 4px;
        border: none;
        transition: background-color 0.3s ease;
    }

    .custom-file-upload:hover {
        background-color: #0d6efd;
    }

    .custom-file-upload input[type="file"] {
        display: none;
    }
</style>
<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="img/logo2.png">
<title>BlueLemon</title>
<meta name="description" content="Vogel - Social Network & Community HTML Template">
<meta name="keywords" content="bootstrap5, e-learning, forum, games, online course, Social Community, social events, social feed, social media, social media template, social network html, social sharing, twitter">
<!-- Bootstrap CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Slich Slider -->
<link href="vendor/slick/slick/slick.css" rel="stylesheet">
<link href="vendor/slick/slick/slick-theme.css" rel="stylesheet">
<!-- Icofont -->
<link href="vendor/icofont/icofont.min.css" rel="stylesheet">
<!-- Font Icons -->
<link href="vendor/icons/css/materialdesignicons.min.css" rel="stylesheet" type="text/css">
<!-- Custom Css -->
<link href="css/style.css" rel="stylesheet">
<script th:inline="javascript">
	// 프로필 사진 미리보기 함수	
	function previewProfileImage(event) {
		var file = event.target.files[0];
		var maxSize = 5 * 1024 * 1024; // 5MB

		// 파일 크기 확인
		if (file.size > maxSize) {
			alert("파일 크기는 최대 5MB까지만 가능합니다.");
			return; // 파일 크기가 초과하면 더 이상 진행하지 않음
		}
		var reader = new FileReader();
		reader.onload = function() {
			var output = document.getElementById('profile_image_preview');
			output.src = reader.result;
		};
		reader.readAsDataURL(event.target.files[0]);
		document.getElementById('photo_file_name').textContent = "";
	} 
</script>
<body class="bg-light">   
	<div class = "goToTop">
		<a href = "#"><img src = "img/goToTop.png"></a>
	</div>
	<div class="theme-switch-wrapper ms-3">
		<label class="theme-switch" for="checkbox">
			<input	type="checkbox" id="checkbox">
			<span class="slider round"></span>
			<i class="icofont-ui-brightness"></i>
		</label>
		<em>Enable Dark Mode!</em>
	</div>
	<div class="py-4">
		<div class="container">
			<div class="row position-relative">
				<!-- Main Content -->
				<main class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12" style = "margin : auto;">
					<form id="createAccount" method="post" action="create_form" enctype="multipart/form-data">
						<div class="main-content">
							<div class="mb-5">
								<header class="profile d-flex align-items-center">
                                	<img src="img/login_Logo.png" style = "width : 50%; height : auto; margin-left : 25%;">
								</header>	
								<div>
									<span class="text-muted text_short" style = "margin-left : 37%;">WELCOME SIGN UP</span>
								</div>
							</div>
						</div>
						<div class="feeds">
							<div class="bg-white p-4 feed-item rounded-4 shadow-sm mb-3 faq-page">
								<div class="mb-3">
									<h5 class="lead fw-bold text-body mb-0">Create Account</h5>
								</div>
								<div class="row justify-content-center">
									<div class="col-lg-12" style = "margin-bottom : 5%;">
										<label class="mb-2 text-muted small" style = "margin-left : 5px;">필수 입력 항목</label>
										<div class="form-floating mb-3 d-flex align-items-end">
											<input type="text" class="form-control rounded-5" id="member_Id" name="member_Id" maxlength="12">
											<button type="button" class="btn btn-primary rounded-5 w-50 text-decoration-none py-3 fw-bold text-uppercase m-0" 
											id="check_duplicate_button" >중복 체크</button>
											<span id="id_error_message" class="error-message"></span>
											<span id="duplicate_result"></span>
											<label for="floatingssName">ID</label>
										</div>
										<div class="form-floating mb-3 d-flex align-items-end">
											<input type="password" name="member_Password" class="form-control rounded-5" id="member_Password" maxlength="12">
											<span id="password_message"	class="error-message"></span>
											<label for="floatingssName">PASSWORD</label>
										</div>
										<div class="form-floating mb-3 d-flex align-items-end">
											<input type="password" name="repassowrd" class="form-control rounded-5" id="repassword" maxlength="12">
											<span id="confirm_password_message"	class="error-message"></span>
											<label for="floatingssName">REPASSWORD</label>
										</div>
										<div class="form-floating mb-3 d-flex align-items-end">
											<input type="text" class="form-control rounded-5" id="member_Name" name="member_Name">
											<span id="name_error_message" class="error-message"></span>
											<label for="floatingssName">NAME</label>
										</div>
										<div class="form-floating mb-3 d-flex align-items-center">
											<input type="text" class="form-control rounded-5" name="member_Email" id="member_Email">@
											<input type="text" class="form-control rounded-5" name="email_add" id="email_add">
											<span id="email_error_message" class="error-message"></span>
											<label for="floatingEmail">EMAIL</label>
										</div>
										<div class="form-floating mb-3 d-flex align-items-center">
											<input type="text" class="form-control rounded-5" name="member_Phone" id="member_Phone">
											<span id="phone_error_message" class="error-message"></span>
											<label for="floatingEmail">PHONE</label>
										</div>
										<div class="form-floating mb-3 d-flex align-items-center">
											<input type="date" class="form-control rounded-5" name="member_Birthday" id="member_Birth" onclick="handleDateClick()">
											<label for="floatingBirth">DATE OF BIRTH</label>
										</div>
										<div class="d-flex align-items-center mb-3 px-0 rounded"  style="border:1px solid #dee2e6;">
											<label style = "height : 40px; margin-top : 10px; margin-left : 10px; margin-right : 10%; color : #a4aaaf;">GENDER</label>
											<div class="form-check"  style = "margin-left : 20%; margin-right : 10%">
												<input class="form-check-input" type="radio" value="M" name="member_Gender" id="male">
												<label class="form-check-label" for="male">Male</label>
											</div>
											<div class="form-check mx-3">
												<input class="form-check-input" type="radio" value="F" name="member_Gender" id="female">
												<label class="form-check-label" for="female">Female</label>
											</div>
										</div>
										<label class="mb-2 text-muted small" style = "margin-left : 5px;">선택 입력 항목</label>
										<div class="form-floating mb-3 d-flex align-items-center">
									    <select name="member_Country" class="form-control rounded-5" id="member_Country">
									        <option value=""></option>
									        <option value="Korea">Korea</option>
									        <option value="Japan">Japan</option>
									        <option value="China">China</option>
									        <option value="America">America</option>
									        <option value="Russia">Russia</option>
									        <option value="Germany">Germany</option>
									        <option value="Italy">Italy</option>
									        <option value="Spain">Spain</option>									       
									    </select>
									    <label for="member_Country">Country</label>
									</div>
									<div class="form-floating mb-3 d-flex align-items-center">
									    <select name="member_Mbti" class="form-control rounded-5" id="member_Mbti">
									        <option value=""></option>
									        <option value="INFJ">INFJ</option>
									        <option value="INFP">INFP</option>
									        <option value="ISFJ">ISFJ</option>
									        <option value="ISFP">ISFP</option>
									        <option value="ISTP">ISTP</option>
									        <option value="ISTJ">ISTJ</option>
									        <option value="INTP">INTP</option>
									        <option value="INTJ">INTJ</option>
									        <option value="ENTP">ENTP</option>
									        <option value="ESTJ">ESTJ</option>
									        <option value="ESTP">ESTP</option>
									        <option value="ENFP">ENFP</option>
									        <option value="ESFJ">ESFJ</option>
									        <option value="ENTJ">ENTJ</option>
									        <option value="ENFJ">ENFJ</option>
									        <option value="ESFP">ESFP</option>
									    </select>
										    <label for="member_Mbti">MBTI</label>
										</div>
										<div class="rounded"  style="border:1px solid #dee2e6; height : auto;">
											<label style = "width : 23%; margin-top : 10px; margin-left : 10px; color : #a4aaaf;" for="member_Profile_Image">
												Profile Image
											</label><br>
											<label for="member_Profile_Image" class="custom-file-upload" style = "margin-left : 2%; margin-bottom : 2%; margin-top : 1%;">
												<span style = "color : white;">Upload</span>
												<input type="file" name="profile_Image" accept=".png, .jpeg, .gif" id="member_Profile_Image" onchange="previewProfileImage(event)">
											</label>											
											<img id="profile_image_preview" src="#" alt="" style="max-width: 200px; max-height: 200px; border-radius: 50%; overflow: hidden; margin-left : 20%;">
										</div>
									</div>
									<div>
										<button class="btn btn-primary rounded-5 w-100 text-decoration-none py-3 fw-bold text-uppercase m-0" onclick="go_save(event)">SAVE</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</main>
			</div>
		</div>
	</div>

	<!-- Jquery Js -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<!-- Bootstrap Bundle Js -->
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!-- Custom Js -->
	<script src="js/custom.js"></script>
	<!-- Slick Js -->
	<script src="vendor/slick/slick/slick.min.js"></script>
	<!-- create Js -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="js/createaccount.js"></script>
</body>
</html>