<html xmlns:th="http://www.thymeleaf.org" lang="UTF-8">
<meta charset="UTF-8">
<!DOCTYPE html>
<title>BlueLemon</title>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
<link href="css/admin_Styles.css" rel="stylesheet" />
<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
<style>
	.postDetailTable {
		border-collapse: collapse;
		margin-left : 20%
	}

	.postDetailTable th,
	.postDetailTable td {
		border: 1px solid black;
		padding: 8px;
		text-align : center;
	}

	.postDetailTable th {
		background-color: #f2f2f2;
	}
</style>
</head>
<body class="sb-nav-fixed">
	<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
		<!-- Navbar Brand-->
		<a class="navbar-brand ps-3" href="admin_Index">BlueLemon</a>
		<!-- Sidebar Toggle-->
		<button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
	</nav>
	<div id="layoutSidenav">
		<div id="layoutSidenav_nav">
			<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
				<div class="sb-sidenav-menu">
					<div class="nav">
					   <div class="sb-sidenav-menu-heading">Core</div>
					   <a class="nav-link" href="admin_Index">
						  <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
					      Dashboard
					   </a>
                       <a class="nav-link" href="index">
                          <div class="sb-nav-link-icon"><i class="fas fa-laptop"></i></div>
                          FEED
                       </a>                        
					   <div class="sb-sidenav-menu-heading">Interface</div>
					   <a class="nav-link" href="member_Table">
					      <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
					      Member Table
					   </a> 
					   <a class="nav-link" href="post_Table">
					      <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
					      Post Table
					   </a>
					   <a class="nav-link" href="qna_Table">
					      <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
					      Q&A Table
					   </a>
                       <a class = "nav-link" href = "logout">
                          <div class = "sb-nav-link-icon"><i class = "fas fa-power-off"></i></div>
                          LogOut
                       </a>
					</div>
				</div>
			</nav>
		</div>
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid px-4">
					<h1 class="mt-4">Post Table</h1>
					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item active">Tables</li>
					</ol>
					<div class="card mb-4">
						<div class="card-header">
							<i class="fas fa-table me-1"></i>
							Post Detail
						</div>
						<div class="card-body">
							<table class = "postDetailTable">
								<tr>
									<th colspan="5">게시글</th>
								</tr>
								<tr>
								    <th style="width: 20%">게시글 번호</th>
								    <th style="width: 20%">아이디</th>
								    <th style="width: 25%">작성일</th>
								    <th style="width: 15%">좋아요</th>
								    <th style="width: 20%">게시글 사진 번호</th>
								</tr>
								<tr>
							        <td th:text="${post.post_Seq}"></td>
									<td th:text="${post.member_Id}"></td>
									<td th:text="${post.post_Date}"></td>
							        <td th:text="${post.post_Like_Count}"></td>
							        <td th:text="${post.post_Image_Count}"></td>
								</tr>
								<tr>
								    <th>게시글 내용</th>
								    <td colspan = "5" th:text="${post.post_Content}"></td>
								</tr>
								<tr>
									<th colspan="5">게시글 사진</th>
								</tr>
								<!-- 이미지를 출력할 공간 -->
								<th:block th:if="${post.post_Image_Count != 0}">
									<tr>
										<td colspan="5">
											<th:block th:each="i : ${#numbers.sequence(1, post.post_Image_Count)}">
												<div class="image-container">
													<img th:src="@{'img/uploads/post/' + ${post.post_Seq} + '-' + ${i} + '.png'}" alt="..." width="500px">
												</div>
											</th:block>
										</td>
									</tr>
								</th:block>
								<!-- 댓글 -->
								<tr>
									<th colspan="5">댓글</th>
								</tr>
								<th:block th:if="${reply == null}">
									<tr style="display: none;"></tr>
								</th:block>
								<th:block th:unless="${reply == null}">
									<tr>
										<th colspan="1">아이디</th>
										<th colspan="2">댓글 내용</th>
										<th colspan="1">작성일</th>
										<th colspan="1">좋아요</th>
									</tr>
									<th:block th:each="reply : ${reply}">
										<tr>
											<td colspan="1" th:text="${reply.member_Id}"></td>
											<td colspan="2" th:text="${reply.reply_Content}"></td>
											<td colspan="1" th:text="${reply.reply_Date}"></td>
											<td colspan="1" th:text="${reply.reply_Like_Count}"></td>
										</tr>
									</th:block>
								</th:block>
								<!-- 해시태그 -->
								<tr>
								    <th colspan="5">해시태그</th>
								</tr>
								<th:block th:if="${hash == null}">
									<tr style="display: none;"></tr>
								</th:block>
								<th:block th:unless="${hash == null}">
									<tr>
										<th>게시글 번호</th>
										<th>해시태그 번호</th>
										<th colspan = "3">해시태그 내용</th>
									</tr>
									<th:block th:each="hash : ${hash}">
										<tr>
											<td th:text="${hash.post_Seq}"></td>
											<td th:text="${hash.tag_Seq}"></td>
											<td colspan = "3" th:text="${hash.tag_Content}"></td>
										</tr>
									</th:block>
								</th:block>
								<div style="text-align: right; margin-right: 1px;">
									<a th:href="@{'deletePost?post_Seq=' + ${post.post_Seq}}" class="btn btn-primary">delete</a>
									<a href="post_Table" class="btn btn-primary">List</a>
								</div>
							</table>
						</div>
					</div>
				</div>
			</main>
			<footer class="py-4 bg-light mt-auto">
				<div class="container-fluid px-4">
					<div
						class="d-flex align-items-center justify-content-between small">
						<div class="text-muted">Copyright &copy; Your Website 2023</div>
						<div>
							<a href="#">Privacy Policy</a> &middot; <a href="#">Terms
								&amp; Conditions</a>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
		crossorigin="anonymous"></script>
	<script src="js/scripts.js"></script>
	<script src="js/datatables-simple-demo.js"></script>
	<!-- modal Js -->
	<script src="js/modal.js"></script>
</body>
</html>
