<html xmlns:th="http://www.thymeleaf.org" lang="UTF-8">
<meta charset="UTF-8">
<!DOCTYPE html>
<title>BlueLemon</title>
<head>
	<!-- 데스크톱, 태블릿, 모바일 등 화면 크기를 자동으로 조절해주는 곳 -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 파비콘의 이미지를 지정하는 곳 -->
	<link rel="icon" type="image/png" href="img/logo2.png">
	<!-- description : 웹 페이지의 내용을 간략하게 설명하는 역할(검색 엔진 최적화, 웹 페이지의 구조화 와 관리) -->
	<meta name="description" content="Vogel - Social Network & Community HTML Template">
	<!-- keywords 메타 태그를 선언하는 이유는 검색 엔진 최적화와 웹 사이트의 구조화와 관리를 위한 참고 자료를 제공하기 위해서 이다. -->
	<meta name="keywords" content="bootstrap5, e-learning, forum, games, online course, Social Community, social events, social feed, social media, social media template, social network html, social sharing, twitter">
	<!-- 부트스트랩 css -->
	<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- Slich Slider -->
	<link href="vendor/slick/slick/slick.css" rel="stylesheet">
	<link href="vendor/slick/slick/slick-theme.css" rel="stylesheet">
	<!-- Icofont -->
	<link href="vendor/icofont/icofont.min.css" rel="stylesheet">
	<!-- Font Icons -->
	<link href="vendor/icons/css/materialdesignicons.min.css" rel="stylesheet" type="text/css">
	<!-- 수정해 볼수있는 css들 (index, slidebar 등등) -->
	<link href="css/style.css" rel="stylesheet">
	<!-- 아이콘 css -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- 파일 업로드 -->
	<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
	<!-- 해시태그  -->
	<script src="https://unpkg.com/@yaireo/tagify"></script>
	<script src="https://unpkg.com/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
	<link href="https://unpkg.com/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
</head>
<body class="bg-light">   
	<div class = "goToTop">
		<a href = "#"><img src = "img/goToTop.png"></a>
	</div>
	<!-- 페이지 우측 하단에 고정되어있는 테마 변경 스위치  -->
	<div class="theme-switch-wrapper ms-3">
		<label class="theme-switch" for="checkbox">
			<input type="checkbox" id="checkbox">
            <span class="slider round"></span>
            <i class="icofont-ui-brightness"></i>
		</label>
		<em>Enable Dark Mode!</em>
	</div>
      
	<!-- 브라우저 창의 크기가 줄어들때 오른쪽 위에 출력되는 메뉴펼치기 버튼 -->
	<div class="web-none d-flex align-items-center px-3 pt-3">
		<a href="index" class="text-decoration-none">
			<img src="img/logo.png" class="img-fluid logo-mobile" alt="brand-logo">
		</a>
		<button class="ms-auto btn btn-primary ln-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
			<span class="material-icons">menu</span>
		</button>
	</div>
      
	<!-- index페이지의 구성 요소들 -->
	<div class="py-4">
		<!-- 반응형 컨테이너 div -->
		<div class="container">
			<!-- row : 열(col)을 포함하는 행(row)를 생상하는데 사용되는 css프레임워크 클래스 -->
         	<!-- position-relative : 요소들의 위치를 상대적으로 설정 -->
            <div class="row position-relative">
           		<!-- Main Content -->
    			<main class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
      				<div class="main-content">
           				<ul class="top-osahan-nav-tab nav nav-pills justify-content-center nav-justified mb-4 shadow-sm rounded-4 overflow-hidden bg-white sticky-sidebar2" id="pills-tab" role="tablist">
             				<li class="nav-item" role="presentation">
         						<button class="p-3 nav-link text-muted active" id="pills-feed-tab" data-bs-toggle="pill" data-bs-target="#pills-feed" type="button" role="tab" aria-controls="pills-feed" aria-selected="true">
         							#해시태그 검색
         						</button>
           					</li>
          					<li class="nav-item" role="presentation">
              					<button class="p-3 nav-link text-muted" id="pills-people-tab" data-bs-toggle="pill" data-bs-target="#pills-people" type="button" role="tab" aria-controls="pills-people" aria-selected="false">
              						@인물 검색
              					</button>
            				</li>
         				</ul>
                     
      					<!-- feed 버튼 클릭시 출력부분 -->
						<div class="tab-content" id="pills-tabContent">
							<div class="tab-pane fade show active" id="pills-feed" role="tabpanel" aria-labelledby="pills-feed-tab">
          						<!-- Feeds -->
          						<!-- 뉴스피드들을 감싸는 부분 -->
         						<div class="pt-4 feeds">                              
               						<!-- Feed Item -->
									<div th:if="${postListSize==0}">
										<br>
										<h5 align="center">No Post To Show</h5>
										<br>
									</div>
									<div th:unless="${postListSize==0}">
										<h6 class="mb-3 fw-bold text-body" th:inline="text">Post Search Result by '[[${hashTag}]]'</h6>
										<div th:each="postVO, status : ${postList}" th:limit="10">
											<div class="bg-white p-3 feed-item rounded-4 mb-3 shadow-sm">
												<div class="d-flex">
													<!-- 작성자의 프로필사진 -->
													<img th:src="@{'img/uploads/profile/' + ${profileMap[postVO.member_Id]}}"  class="img-fluid rounded-circle user-img" alt="profile-img">
													<div class="d-flex ms-3 align-items-start w-100">
														<div class="w-100">
															<div class="d-flex align-items-center justify-content-between">
																<a th:href="@{'profile?member_Id=' + ${postVO.member_Id}}" class="text-decoration-none" >
																	<h6 class="fw-bold mb-0 text-body" style="font-size: 26px;" th:text="${postVO.member_Id}"></h6>
																</a>
																<div class="d-flex align-items-center small">
																	<p class="text-muted mb-0" th:text="${postVO.post_Date}"></p>
																		<div th:if="${member_Id == postVO.member_Id}">
																			<div class="dropdown">
																				<a href="#" class="text-muted text-decoration-none material-icons ms-2 md-20 rounded-circle bg-light p-1" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">more_vert</a>
																				<ul class="dropdown-menu fs-13 dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
																					<li>
																						<button class="dropdown-item text-muted editbutton" th:onclick="|postEditView(${postVO.post_Seq})|" data-bs-toggle="modal" data-bs-target="#postModal2">
																							<span class="material-icons md-13 me-1">edit</span>
																							Edit
																						</button>
																					</li>
																					<!-- deletePost()는 custom.js에 있음 -->
																					<li>
																						<button class="dropdown-item text-muted deletebutton" th:onclick="|deletePost(${postVO.post_Seq})|">
																							<span class="material-icons md-13 me-1">delete</span>
																							Delete
																						</button>
																					</li>
																				</ul>
																			</div>
																		</div>
																</div>
															</div>
															<div class="my-2">
																<br>
																<!-- 게시글의 사진 (클릭시 게시글 상세보기 모달창 출력) -->
																<a id="openModalBtn" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#commentModal" th:onclick="|modalseq(${postVO.post_Seq})|">
																	<div th:if="${postVO.post_Image_Count == 0}">
																		<br>
																	</div>
																	<div th:unless="${postVO.post_Image_Count == 0}">
																		<img th:src="@{'img/uploads/post/' + ${postVO.post_Seq} + '-1.png'}" class="img-fluid rounded mb-3" alt="post-img">
																	</div>
																</a>
																<br>
																<!-- 게시글 내용 -->
																<p class="text-dark" th:text="${postVO.post_Content}"></p>
																<!-- 해시태그 -->
																<div th:each="hash : ${hashMap[postVO.post_Seq]}">
																	<a id="hash" th:href="@{'search_HashTag?tag_Content=' + ${hash.tag_Content}}" class="mb-3 text-primary" th:text="'#' + ${hash.tag_Content}"></a>&nbsp;&nbsp;
																</div>
																<hr>
																<!-- 게시글 바로 아래 좋아요, 댓글 버튼 부분 -->
																<div class="d-flex align-items-center justify-content-between mb-2">
																	<div class="like-group" role="group">
																		<div th:if="${postVO.post_LikeYN == 'N'}">
																			<button type="button" style = "border : none; background-color : white;" th:onclick="|toggleLike(${postVO.post_Seq})|">
																				<img th:class="'likeImage_' + ${postVO.post_Seq}" src="img/like.png" width="20px" height="20px" data-liked = "false">
																			</button>
																			<p th:class="'post_Like_Count_' + ${postVO.post_Seq}" style="display: inline; margin-left: 3px; font-size : 13px;" th:text="${postVO.post_Like_Count}"></p>
																		</div>
																		<div th:unless="${postVO.post_LikeYN == 'N'}">
																			<button type="button" style = "border : none; background-color : white;" th:onclick="|toggleLike(${postVO.post_Seq})|">
																				<img th:class="'likeImage_' + ${postVO.post_Seq}" src="img/unlike.png" width="20px" height="20px" data-liked = "true">
																			</button>
																			<p th:class="'post_Like_Count_' + ${postVO.post_Seq}" style="display: inline; margin-left: 3px; font-size : 13px;" th:text="${postVO.post_Like_Count}"></p>
																		</div>
																	</div>
																	<div>
																		<div class="text-muted text-decoration-none d-flex align-items-start fw-light"><span class="material-icons md-20 me-2">chat_bubble_outline</span><span th:text="${postVO.post_Reply_Count}"></span></div>
																	</div>
																</div>

																<!-- 댓글 입력창 부분 (클릭시 모달창) -->
																<div class="d-flex align-items-center mb-3" data-bs-toggle="modal" data-bs-target="#commentModal2" th:onclick="|replyModalseq(${postVO.post_Seq})|">
																	<span class="material-icons bg-white border-0 text-primary pe-2 md-36">account_circle</span>
																	<input type="text" class="form-control form-control-sm rounded-3 fw-light" placeholder="Write Your comment">
																</div>

																<!-- 댓글 출력 부분 -->
																<div class="comments">
																	<th:block th:with="key=${status.index}"></th:block>
																	<th:block th:with="value=${replyMap[key]}"></th:block>
																	<div th:each="reply : ${value}" th:limit="3">
																		<div class="d-flex mb-2">
																			<!-- 댓글 작성자 프로필 이미지 출력부분 -->
																			<a href="#" class="text-dark text-decoration-none" data-bs-toggle="modal" data-bs-target="#commentModal2" th:onclick="|replyModalseq(${reply.post_Seq})|">
																				<img th:src="@{'img/uploads/profile/' + ${profileMap[reply.member_Id]}}" class="img-fluid rounded-circle profile" alt="commenters-img">
																			</a>
																			<div class="ms-2 small">
																				<a href="#" class="text-dark text-decoration-none" data-bs-toggle="modal" data-bs-target="#commentModal2" th:onclick="|replyModalseq(${reply.post_Seq})|">
																					<div class="bg-light px-3 py-2 rounded-4 mb-1 chat-text" style="display: inline-block;">
																						<p class="fw-500 mb-0" th:text="${reply.member_Id}"></p>
																						<span class="text-muted" th:text="${reply.reply_Content}"></span>
																					</div>
																				</a>
																				<div class="reply-like-group" role="group" style="display: inline-block;">
																					<th:block th:with="replySeq=${reply.reply_Seq}"></th:block>
																					<script th:inline="javascript">
																						var reply_Seq = [[${replySeq}]];
																					</script>
																					<div th:if="${reply.reply_LikeYN == 'N'}">
																						<button type="button" style = "border : none; background-color : white;" th:onclick="|toggleReplyLike(${reply.post_Seq}, ${reply.reply_Seq})|">
																							<img th:class="'likeReplyImage_' + ${reply.reply_Seq}" src="img/like.png" data-liked = "false">
																						</button>
																						<p th:class="'reply_Like_Count_' + ${reply.reply_Seq}" style="display: inline; margin-left: 1px; font-size : 10px;" th:text="${reply.reply_Like_Count}"></p>
																					</div>
																					<div th:unless="${reply.reply_LikeYN == 'N'}">
																						<button type="button" style = "border : none; background-color : white;" th:onclick="|toggleReplyLike(${reply.post_Seq}, ${reply.reply_Seq})|">
																							<img th:class="'likeReplyImage_' + ${reply.reply_Seq}" src="img/unlike.png" data-liked = "true">
																						</button>
																						<p th:class="'reply_Like_Count_' + ${reply.reply_Seq}" style="display: inline; margin-left: 1px; font-size : 10px;" th:text="${reply.reply_Like_Count}"></p>
																					</div>
																				</div>
																				<div  style="display: inline-block;" width = "5px"></div>
																				<span class="small text-muted" th:text="${reply.reply_WhenDid}"></span>
																				<div class="d-flex align-items-center justify-content-between mb-2">
																				</div>
																			</div>
																		</div>
																	</div> <!-- 실질적인 댓글 추출 하는 반복문 -->
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div> <!-- 게시글 출력 반복문 -->
									</div>
									<input type="hidden" th:value="${hashTag}" id="hashTag"/>
									<div id="SearchMainFeed"></div>
									<div id="SearchLoadingStop"></div>
									<div th:unless="${postListSize<10}">
									<!-- 피드무한스크롤 -->
										<div class="text-center mt-4" id="SearchFeedInfinity">
											<div class="spinner-border" role="status">
												<span class="visually-hidden">Loading...</span>
											</div>
											<p class="mb-0 mt-2">Loading</p>
										</div>
									</div>
                           		</div>
                        	</div><!-- 뉴스피드 부분 -->
                        
                        	<!-- people 탭 클릭시 -->                        
                        	<div class="tab-pane fade" id="pills-people" role="tabpanel" aria-labelledby="pills-people-tab">
                           		<h6 class="mb-3 fw-bold text-body" th:inline="text">People Search Result by '[[${hashTag}]]'</h6>
                           		<div id="searchPeople-cards-container" class="bg-white rounded-4 overflow-hidden mb-4 shadow-sm">
									<div th:if="${searchFollow == null}">
										<div>
											<br>
											<h5 align="center">Nobody To Follow</h5>
											<br>
										</div>
									</div>
									<div th:unless="${searchFollow == null}">
										<div th:each="search : ${searchFollow}" th:limit="5">
											<a th:href="@{'profile?member_Id=' + ${search.member_Id}}" class="p-3 border-bottom d-flex text-dark text-decoration-none" style="height:95px;">
												<img th:src="@{'img/uploads/profile/' + ${search.member_Profile_Image}}" class="img-fluid rounded-circle me-3" alt="profile-img">
												<div>
													<p class="fw-bold mb-0 pe-3 d-flex align-items-center" th:text="${search.member_Id}"></p>
													<div class="text-muted fw-light">
														<p class="mb-1 small" th:text="${search.member_Name}"></p>
													</div>
												</div>
												<div class="ms-auto">
													<div th:if="${search.member_Id != member_Id}">
														<div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
															<div th:if="${search.bothFollow==1}">
																<input type="checkbox" class="btn-check" name="btncheckbox" th:id="'btncheck' + ${search.member_Id}" checked="checked">
																<label class="btn btn-outline-primary btn-sm px-3 rounded-pill" th:for="'btncheck' + ${search.member_Id}" th:onclick="|changeFollow(${follow.member_Id})|">
																	<span class="following d-none">Following</span>
																	<span class="follow">+ Follow</span>
																</label>
															</div>
															<div th:unless="${search.bothFollow==1}">
																<input type="checkbox" class="btn-check" name="btncheckbox" th:id="'btncheck' + ${search.member_Id}">
																<label class="btn btn-outline-primary btn-sm px-3 rounded-pill" th:for="'btncheck' + ${search.member_Id}" th:onclick="|changeFollow(${follow.member_Id})|">
																	<span class="following d-none">Following</span>
																	<span class="follow">+ Follow</span>
																</label>
															</div>
														</div>
													</div>
												</div>
											</a>
										</div>
									</div>
                        			<div id="searchFollowMoreLoadBox"></div>
                           		</div>
                           
                           		<div id="searchFollowMoreLoadBtn">
									<div th:if="${searchFollowSize>5}">
										<div class="ms-auto" align="center">
											<span class="btn btn-outline-primary btn-sm px-3 rounded-pill" id="followingload" th:onclick="|searchPeopleInfinity(${hashTag})|">+ 더보기</span>
										</div>
										<br>
									</div>
                           		</div>
                           		<h6 class="mb-3 fw-bold text-body">Most Popular People</h6>
                           		<div id="mostFollowPeople-cards-container" class="bg-white rounded-4 overflow-hidden mb-4 shadow-sm">
									<div th:each="popular : ${mostFamous}" th:limit="5">
                           				<a th:href="@{'profile?member_Id=' + ${popular.member_Id}}" class="p-3 border-bottom d-flex text-dark text-decoration-none">
                                 			<img th:src="@{'img/uploads/profile/' + ${popular.member_Profile_Image}}" class="img-fluid rounded-circle me-3" alt="profile-img" style="height:65px; width:65px">
                                 			<div>
                                     			<p class="fw-bold mb-0 pe-3 d-flex align-items-center" th:text="${popular.member_Id}"></p>
                                     			<div class="text-muted fw-light">
                                         			<p class="mb-1 small" th:text="${popular.member_Name}"></p>
                                  				</div>
                                 			</div>
											 <div th:if="${popular.member_Id != member_Id}">
											     <div class="ms-auto">
											         <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
														 <div th:if="${popular.bothFollow == 1}">
											                 <!-- 숫자 1과 동일한 경우에 실행될 내용 -->
											                 <input type="checkbox" class="btn-check" name="btncheckbox" th:id="'btncheck2' + ${popular.member_Id}" checked="checked">
														 </div>
														 <div th:if="${popular.bothFollow != 1}">
											                 <!-- 숫자 1과 다른 경우에 실행될 내용 -->
											                 <input type="checkbox" class="btn-check" name="btncheckbox" th:id="'btncheck2' + ${popular.member_Id}">
														 </div>
											             <label class="btn btn-outline-primary btn-sm px-3 rounded-pill" th:for="'btncheck2' + ${popular.member_Id}" th:onclick="|changeFollow(${popular.member_Id})|">
											                 <span class="following d-none">Following</span>
											                 <span class="follow">+ Follow</span>
											             </label>
											         </div>
											     </div>
											 </div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div><!-- class="main container" -->
				</main> <!-- index페이지의 센터 column -->
               
 				<!-- index페이지 왼쪽 사이드바 column -->
				<aside class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-6 col-12">
					<div class="p-2 bg-light offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample">
						<div class="sidebar-nav mb-3">
	                        <!-- 좌측 상단의 홈페이지 로고 -->
	                        <div class="pb-4">
                           		<a href="index" class="text-decoration-none">
                           			<img src="img/logo.png" class="img-fluid logo" alt="brand-logo">
                           		</a>
                        	</div>
                        	<!-- 사이드바의 항목들을 정의하는 부분 -->
                        	<ul class="navbar-nav justify-content-end flex-grow-1">
                           		<li class="nav-item">
                              		<a href="index" class="nav-link active"><span class="material-icons me-3">house</span> <span>Feed</span></a>
                           		</li>
                           		<li class="nav-item">
                              		<a th:href="@{'profile?member_Id=' +${loginUser.member_Id}}" class="nav-link"><img th:src="@{'img/uploads/profile/' + ${loginUser.member_Profile_Image}}" style = "width : 27px; height : 27px; border-radius : 50%; overfloiw : hidden;"> <span th:inline="text">&nbsp;&nbsp;&nbsp;[[${loginUser.member_Id}]]'s PROFILE</span></a>
                           		</li>
                           		<li class="nav-item">
                              		<a th:href="@{'follow?member_Id=' + ${loginUser.member_Id}}" class="nav-link"><span class="material-icons me-3">diversity_3</span> <span>follow</span></a>
                           		</li>
                           		<!-- PAGES 드롭다운 항목 -->
                           		<li class="nav-item dropdown">
                              		<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              			<span class="material-icons me-3">web</span> Contact Us
                              		</a>
                              		<ul class="dropdown-menu px-2 py-1 mb-2">
                                 		<li><a class="dropdown-item rounded-3 px-2 py-1 my-1" href="contact">Contact</a></li>
                                 		<li><a class="dropdown-item rounded-3 px-2 py-1 my-1" href="faq">FAQ</a></li>
                              		</ul>
                           		</li>
                           		<li class="nav-item">
                              		<a href="logout" class="nav-link"><span class="material-icons me-3">logout</span> <span>Logout</span></a>
                           		</li>
                           		<li class="nav-item dropdown">
                              		<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
										<div th:if="${alarmListSize==0}">
											<span class="material-icons me-3"><span class="material-symbols-outlined">notifications</span></span> Notification
										</div>
										<div th:unless="${alarmListSize==0}">
											<span class="material-icons me-3"><span class="material-symbols-outlined">notifications_active</span></span>
											<span th:inline="text">Notification  +[[${alarmListSize}]]</span>
										</div>
                              		</a>
                              		<ul class="dropdown-menu px-2 py-1 mb-2">
										<div th:each="alarmVO : ${alarmList}" th:limit="10">
											<div th:if="${alarmVO.kind==1}">
												<li>
													<a class="dropdown-item rounded-3 px-2 py-1 my-1" th:href="@{'/alarmFollow?member_Id=' + ${alarmVO.to_Mem} + '&alarm_Seq=' + ${alarmVO.alarm_Seq}}" style="font-size:11px; background-color: azure;" th:text="${alarmVO.message}">
													</a>
												</li>
											</div>
											<div th:if="${alarmVO.kind==5}">
												<li>
													<a class="dropdown-item rounded-3 px-2 py-1 my-1" th:href="@{'/alarmContact?alarm_Seq=' + ${alarmVO.alarm_Seq}}" style="font-size:11px; background-color: azure;" th:text="${alarmVO.message}">
													</a>
												</li>
											</div>
											<div th:unless="${alarmVO.kind == 1 or alarmVO.kind == 5}">
												<li>
													<a class="dropdown-item rounded-3 px-2 py-1 my-1" th:href="@{'/alarmIndex?post_Seq=' + ${alarmVO.post_Seq} + '&alarm_Seq=' + ${alarmVO.alarm_Seq}}" style="font-size:11px; background-color: azure;" th:text="${alarmVO.message}">
													</a>
												</li>
											</div>
										</div>
                              		</ul>
                           		</li>
							</ul>
						</div>
					</div>
                  
					<!-- Sidebar -->
					<!-- 브라우저 창의 크기가 줄어들때 나오는 메뉴버튼을 누르면 왼쪽에서 나타나는 사이드바 -->
					<div class="ps-0 m-none fix-sidebar">
						<div class="sidebar-nav mb-3">
                        	<div class="pb-4 mb-4">
                           		<a href="index" class="text-decoration-none">
                           			<img src="img/logo.png" class="img-fluid logo" alt="brand-logo">
                           		</a>
                        	</div>
                        	<ul class="navbar-nav justify-content-end flex-grow-1">
                           		<li class="nav-item">
                              		<a href="index" class="nav-link active"><span class="material-icons me-3">house</span> <span>Feed</span></a>
                           		</li>
                           		<li class="nav-item">
                              		<a th:href="@{'profile?member_Id=' + ${loginUser.member_Id}}" class="nav-link"><img th:src="@{'img/uploads/profile/' + ${loginUser.member_Profile_Image}}" style = "width : 27px; height : 27px; border-radius : 50%; overfloiw : hidden;"> <span th:inline="text">&nbsp;&nbsp;&nbsp;[[${loginUser.member_Id}]]'s PROFILE</span></a>
								</li>
								<li class="nav-item">
									<a th:href="@{'follow?member_Id=' + ${loginUser.member_Id}}" class="nav-link"><span class="material-icons me-3">diversity_3</span> <span>follow</span></a>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
										<span class="material-icons me-3">web</span> Contact Us
									</a>
									<ul class="dropdown-menu px-2 py-1 mb-2">
										<li><a class="dropdown-item rounded-3 px-2 py-1 my-1" href="contact">Contact</a></li>
										<li><a class="dropdown-item rounded-3 px-2 py-1 my-1" href="faq">FAQ</a></li>
									</ul>
								</li>
                           		<li class="nav-item">
                              		<a href="logout" class="nav-link"><span class="material-icons me-3">logout</span> <span>Logout</span></a>
                           		</li>
                           		<li class="nav-item dropdown">
                              		<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
										<div th:if="${alarmListSize==0}">
											<span class="material-icons me-3"><span class="material-symbols-outlined">notifications</span></span> Notification
										</div>
										<div th:unless="${alarmListSize==0}">
											<span class="material-icons me-3"><span class="material-symbols-outlined">notifications_active</span></span>
											<span th:inline="text">Notification  +[[${alarmListSize}]]</span>
										</div>
                              		</a>
                              		<ul class="dropdown-menu px-2 py-1 mb-2">
										<div th:each="alarmVO : ${alarmList}" th:limit="10">
											<div th:if="${alarmVO.kind==1}">
												<li>
													<a class="dropdown-item rounded-3 px-2 py-1 my-1" th:href="@{'/alarmFollow?member_Id=' + ${alarmVO.to_Mem} + '&alarm_Seq=' + ${alarmVO.alarm_Seq}}" style="font-size:11px" th:text="${alarmVO.message}">
													</a>
												</li>
											</div>
											<div th:if="${alarmVO.kind==5}">
												<li>
													<a class="dropdown-item rounded-3 px-2 py-1 my-1" th:href="@{'/alarmContact?alarm_Seq=' + ${alarmVO.alarm_Seq}}" style="font-size:11px" th:text="${alarmVO.message}">
													</a>
												</li>
											</div>
											<div th:unless="${alarmVO.kind == 1 or alarmVO.kind == 5}">
												<li>
													<a class="dropdown-item rounded-3 px-2 py-1 my-1" th:href="@{'/alarmIndex?post_Seq=' + ${alarmVO.post_Seq} + '&alarm_Seq=' + ${alarmVO.alarm_Seq}}" style="font-size:11px" th:text="${alarmVO.message}">
													</a>
												</li>
											</div>
										</div>
                              		</ul>
                           		</li>
							</ul>
						</div>
					</div>
				</aside>
              
               	<!-- index페이지 오른쪽 사이드바 column -->
               	<aside class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-6 col-12">
                  	<div class="fix-sidebar">
                     	<div class="side-trend lg-none">
                        	<!-- Search Tab -->
                        	<div class="sticky-sidebar2 mb-3">
                           		<!-- 우측 상단의 검색탭 -->
		                       	<div class="input-group mb-4 shadow-sm rounded-4 overflow-hidden py-2 bg-white">
		                          	<span class="input-group-text material-icons border-0 bg-white text-primary">search</span>
		                           	<form action="/search_HashTag" method="get">
                           				<input type="text" class="form-control border-0 fw-light ps-1" placeholder="Search People" id="keyword" name="tag_Content" onkeyup="searchMembers()">
                           			</form>
                        		</div>
                        		<!-- 검색 결과 리스트 -->
                        		<div id="searchResults"></div>
                           		<div class="bg-white rounded-4 overflow-hidden shadow-sm mb-4">
                              		<!-- 실시간 인기 급상승 게시글 -->
                              		<h6 class="fw-bold text-body p-3 mb-0 border-bottom">Hottest Feed</h6>
	                              	<!-- 트랜딩 아이템 -->
	                              	<!-- 표시할 최대 문자 수 -->
									<th:block th:with="maxChar = 50"></th:block>
									<div th:each="postVO : ${hottestFeed}" th:limit="5">
										<div class="p-3 border-bottom d-flex">
											<div th:if="${postVO.post_Image_Count == 0}">
												<a id="openModalBtn" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#commentModal2" th:onclick="|replyModalseq(${postVO.post_Seq})|" style = "width : 100%;">
													<div class = "d-flex">
														<div>
															<p class="fw-bold mb-0 pe-3 text-dark" th:text="${postVO.post_Like_Count} + '\'s Likes'"></p>
															<small class="text-muted" th:text="Posted by ${postVO.member_Id}"></small>
															<br><div style = "height : 5%;"></div>
															<small class="text-muted">
																<div th:if="${#strings.length(postVO.post_Content) > 25}">
																	<span th:text="${#strings.substring(postVO.post_Content, 0, 25)} + ' . . .'"></span>
																</div>
																<div th:unless="${#strings.length(postVO.post_Content) > 25}" th:text="${postVO.post_Content}"></div>
															</small>
															<br><div style = "height : 5%;"></div>
															<div th:if="${postVO.post_Hashtag != null}">
																<small class="text-muted">
																	<div th:if="${#strings.length(postVO.post_Hashtag) > 22}" th:text="${#strings.substring(postVO.post_Hashtag, 0, 22)} + ' . . .'"></div>
																	<div th:unless="${#strings.length(postVO.post_Hashtag) > 22}" th:text="${postVO.post_Hashtag}"></div>
																</small>
															</div>
														</div>
													</div>
												</a>
											</div>
											<div th:unless="${postVO.post_Image_Count == 0}">
												<a id="openModalBtn" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#commentModal" th:onclick="|modalseq(${postVO.post_Seq})|" style = "width : 100%;">
													<div class = "d-flex">
														<div style = "width : 60%;">
															<p class="fw-bold mb-0 pe-3 text-dark" th:text="${postVO.post_Like_Count} + '\'s Likes'"></p>
															<small class="text-muted" th:inline="text">Posted by [[${postVO.member_Id}]]</small>
															<br><div style = "height : 5%;"></div>
															<small class="text-muted">
																<span th:text="${#strings.length(postVO.post_Content) > 15 ? #strings.substring(postVO.post_Content, 0, 15) + ' ...' : postVO.post_Content}"></span>
															</small>
															<br><div style = "height : 5%;"></div>
															<div th:if="${postVO.post_Hashtag != null}">
																<small class="text-muted">
																	<span th:text="${#strings.length(postVO.post_Hashtag) > 15 ? #strings.substring(postVO.post_Hashtag, 0, 15) + ' ...' : postVO.post_Hashtag}"></span>
																</small>
															</div>
														</div>
														<div style = "width : 40%;">
															<img th:src="@{'img/uploads/post/' + ${postVO.post_Seq} + '-1.png'}" class="img-fluid rounded-4 ms-auto" width = "100" height = "100">
														</div>
													</div>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</aside>
			</div> <!-- class="row position-relative" -->
		</div> <!-- class="container" -->
	</div> <!-- class="py-4" -->
      
	<!-- left footer -->
	<!-- 좌측 하단 부분 -->
	<div class="py-3 bg-white footer-copyright">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-8">
                  	<span class="me-3 small">©2023 <b class="text-primary">BlueLemon</b>. All rights reserved</span>
               	</div>
               	<div class="col-md-4 text-end">
					<a target="_blank" href="#" class="btn social-btn btn-sm text-decoration-none"><i class="icofont-facebook"></i></a>
					<a target="_blank" href="#" class="btn social-btn btn-sm text-decoration-none"><i class="icofont-twitter"></i></a>
					<a target="_blank" href="#" class="btn social-btn btn-sm text-decoration-none"><i class="icofont-linkedin"></i></a>
					<a target="_blank" href="#" class="btn social-btn btn-sm text-decoration-none"><i class="icofont-youtube-play"></i></a>
					<a target="_blank" href="#" class="btn social-btn btn-sm text-decoration-none"><i class="icofont-instagram"></i></a>
               	</div>
            </div>
		</div>
	</div>

	<div th:include="modal :: modal"></div>
      
    <!-- Bootstrap Bundle Js -->
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Custom Js -->
    <script src="js/custom.js"></script>
    <!-- Slick Js -->
    <script src="vendor/slick/slick/slick.min.js"></script>
    <!-- Follow Js -->
    <script src="js/follow.js"></script>
    <!-- Like Js -->
    <script src="js/like.js"></script>
    <!-- Modal Js -->
    <script src="js/modal.js"></script>
    <!-- People Js -->
    <script src="js/people.js"></script>
    <!-- Insert Js -->
    <script src="js/insert.js"></script>
    <!-- Search Peple Js -->
    <script src="js/searchpeople.js"></script>
    <!-- Search Infinite Js -->
    <script src="js/searchInfinite.js"></script>
</body>
</html>